body {
    font-family:Arial, Helvetica, sans-serif;
}

/* Jumbotron */
.jumbotron {
    text-align: center;
    background-image: linear-gradient(to right, rgb(52, 54, 167) , rgb(35, 13, 95));
    color: white;
    font-size: 28px;
    font-weight: 800;
}

/* Search Container */
.container {
    width: 100%;
    display: inline-flex;
    margin-top:-4%;
}

#search {
    width: 30%;
    margin-right: 5%;
    margin-left:2%;
}

.search-bar {
    border-bottom: solid black;
    padding-bottom: 5%;
}

#search-caption {
    font-size: 28px;
    font-weight: 700;
}

#input {
    width: 95%;
    font-size: x-large;
    padding-left: 10px;
    border-radius: 10px;
    margin-top:-5%;
}

button {
    width: 100%;
    height: 40px;
    margin-top: 3%;
    font-size: 24px;
    border-radius: 10px;
}

.functionBtns {
    background-color: dodgerblue;
    color: gainsboro;
}
.inactive-display {
    width: 112%;
    margin-left: -12%;
    border-color:rgb(173, 171, 171);
    background-color: rgb(173, 171, 171);
}

/* Current weather display */
.weather {
    width: 70%;
}

.details {
    display: flex;
    margin-top: -8%;
}
#date {
    margin-top:-2%;
}

#icon {
    margin-bottom: 5%;
}

h4 {
    font-size: 28px;
}

.result {
    font-size: 28px;
    padding: 1% 2% 0 4%;
}
.current-weather {
    width: 100%;
    height: 300px;
    border: black solid 2px;
    margin-top: 1%;
}


/* Forecast styling */

#five-day-forecast {
    height: 300px;
}

.card {
    display: inline-flex;
    width: 100%;
    margin: 0 0 0 -5%;
    list-style: none;
}

li {
    background-color:rgb(54, 69, 82);
    height: 175px;
    width: 17%;
    margin-right: 3%;
    color: white;
}

h3 {
    font-size: 14px;
}


/* UV coloring scheme for UV display */
.uv-favorable{
    background-color: green;
    border-radius: 5px;
    color: white;
}

.uv-moderate{
    background-color: orange;
    border-radius: 5px;
    color: white;
}

.uv-severe{
    background-color: red;
    border-radius: 5px;
    color: white;
}

/* Media queries */
@media only screen and (max-width: 992px) {
    #search-city{
        width:100%;
    }
    #search-button{
        width:100%;
    }
}
@media only screen and (max-width: 575px) {

    #fiveDayForecastUl{
        justify-content: center;
    }
}